<!DOCTYPE html>
<html>
  <head>
    <title>Signaltinder</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="https://d33t3vvu2t2yu5.cloudfront.net/tv.js"></script>
  </head>

  <body>
    <%= navbar do %>
      <%= navbar_header brand: 'Signal Tinder', brand_link: user_signed_in? ? user_trading_signals_index_path : new_user_session_path %>
      <%= navbar_collapse do %>
        <%= navbar_group do %>
          <%= navbar_item 'Pick signals', user_trading_signals_index_path %>
          <%= navbar_item 'Liked signals', user_trading_signals_liked_path %>
        <% end %>
        <%= navbar_group align: 'right' do %>
          <% if user_signed_in? %>
            <%= navbar_item 'Sign out', destroy_user_session_path %>
          <% else %>
            <%= navbar_item 'Sign in', new_user_session_path %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <div class="container">
      <% if notice %>
        <p class="alert alert-info"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
